.article-infos {
    display: flex;
    flex-direction: row;
}
.infos {
    margin-right: 24px;
}
.article {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.article-content {
    width: 50%;
    font-size: 1.3em;
}
.img-spacing {
    margin-right: 28px;
}
.commentaires {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
}
.comment-infos {
    display: flex;
    flex-direction: row;
}