.articles-container {
    margin-top: 50px;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-margin {
    margin-right: 20px;
    margin-bottom: 20px;
}

p.card-text {
    margin: 0px 0px 9px 0px !important;
}