.themed-articles-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.themed-articles {
    margin-right: 40px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F5F5F5;
}