.sidenav {
  visibility: visible !important;
  transform: translateX(0) !important;
  width: 200px !important;
}

.main {
  width: calc(100vw - 200px);
  margin-left: 210px;
  margin-top: 13px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  margin: 0 !important;
}
